In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
weather_data = pd.read_csv('weather_data.csv')

In [8]:
weather_data.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am cloud amount (oktas),9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa)
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,6,N,2,1018.8,28.1,43,5.0,E,13,1015.3
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,7,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,8,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,8,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,8,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3

In [16]:
#Create new column - variance between max temp for the day vs average max temp
#Note that the variance is absolute i.e. negative variance converted to positive
#Initial reasoning is that energy use may increase if weather is too cold or hot
weather_data['Var to avg max temp'] = round((weather_data['Maximum temperature (°C)']-weather_data['Maximum temperature (°C)'].mean()).abs(),1)
weather_data.head()

,Date,Minimum temperature (°C),Maximum temperature (°C),Rainfall (mm),Evaporation (mm),Sunshine (hours),Direction of maximum wind gust,Speed of maximum wind gust (km/h),Time of maximum wind gust,9am Temperature (°C),...,9am wind direction,9am wind speed (km/h),9am MSL pressure (hPa),3pm Temperature (°C),3pm relative humidity (%),3pm cloud amount (oktas),3pm wind direction,3pm wind speed (km/h),3pm MSL pressure (hPa),Var to avg max temp
0,1/01/2021,15.6,29.9,0.0,2.8,9.3,NNE,31.0,13:14,19.2,...,N,2,1018.8,28.1,43,5.0,E,13,1015.3,10.5
1,2/01/2021,18.4,29.0,0.0,9.4,1.3,NNW,30.0,8:22,23.3,...,NNW,17,1013.3,28.7,38,7.0,SW,4,1008.5,9.6
2,3/01/2021,17.0,26.2,12.6,4.8,7.1,WSW,33.0,17:55,18.3,...,WSW,4,1007.7,23.5,59,4.0,SSW,2,1005.2,6.8
3,4/01/2021,16.0,18.6,2.6,3.8,0.0,SSE,41.0,16:03,16.2,...,SSE,11,1010.0,18.2,82,8.0,SSW,17,1011.0,0.8
4,5/01/2021,15.9,19.1,11.2,1.0,0.0,SSE,35.0,11:02,17.2,...,SSE,13,1012.5,18.2,82,8.0,SSE,19,1013.3,0.3

In [4]:
price_demand = pd.read_csv('price_demand_data.csv')

In [7]:
price_demand.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY
0   VIC1  1/01/2021 0:30      4179.21           LOW
1   VIC1  1/01/2021 1:00      4047.76           LOW
2   VIC1  1/01/2021 1:30      3934.70           LOW
3   VIC1  1/01/2021 2:00      3766.45           LOW
4   VIC1  1/01/2021 2:30      3590.37           LOW

In [12]:
#convert settlement date format to exclude time of the day
import datetime
from datetime import datetime
price_demand['DATE'] = pd.to_datetime(price_demand['SETTLEMENTDATE']).dt.date
price_demand.head()

  REGION  SETTLEMENTDATE  TOTALDEMAND PRICECATEGORY        DATE
0   VIC1  1/01/2021 0:30      4179.21           LOW  2021-01-01
1   VIC1  1/01/2021 1:00      4047.76           LOW  2021-01-01
2   VIC1  1/01/2021 1:30      3934.70           LOW  2021-01-01
3   VIC1  1/01/2021 2:00      3766.45           LOW  2021-01-01
4   VIC1  1/01/2021 2:30      3590.37           LOW  2021-01-01

In [22]:
#group totaldemand by the date to obtain total energy demand for each date
demand_bydate = price_demand.groupby('DATE')['TOTALDEMAND'].sum()
demand_bydate.head()

DATE
2021-01-01    185853.37
2021-01-02    224202.64
2021-01-03    215184.29
2021-01-04    230127.47
2021-01-05    201555.63
Name: TOTALDEMAND, dtype: float64

In [ ]:
#Note - this code to merge the two data not working yet
merged_data = demand_bydate.merge(weather_data[['Date','Var to avg max temp']], on = 'Date', how = 'inner')